# Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

MongoDB :
- MongoDB is a popular open-source, document-oriented NoSQL database designed to store, retrieve, and manage document-oriented information. It uses a flexible, JSON-like format (called BSON) for data storage, which allows for dynamic schemas. This means that documents in a collection do not need to have the same set of fields, and the data structure can be changed over time. MongoDB provides high performance, high availability, and easy scalability, making it suitable for a variety of applications.

Non-relational Databases :
- Non-relational databases, also known as NoSQL databases, are designed to handle a wide variety of data models that do not require a fixed schema. They are optimized for specific use cases, such as handling large volumes of unstructured or semi-structured data, providing horizontal scalability, and supporting rapid development cycles. The main types of NoSQL databases include:

1) Document Stores: Store data as documents (e.g., MongoDB, CouchDB).
2) Key-Value Stores: Store data as key-value pairs (e.g., Redis, DynamoDB).
3) Column Family Stores: Store data in columns and rows but optimized for read/write speed (e.g., Cassandra, HBase).
4) Graph Databases: Store data in graph structures with nodes, edges, and properties (e.g., Neo4j).

Scenarios Where MongoDB is Preferred Over SQL Databases

1) Flexible Schema Requirements:
Applications that need to store and query data without a fixed schema, where data models may evolve rapidly.

2) Handling Unstructured Data:
Use cases involving large amounts of unstructured or semi-structured data, such as logs, social media feeds, or IoT data.

3) High Write Load:
Systems that require high write throughput with less emphasis on transaction consistency (e.g., logging systems, real-time analytics).

4) Horizontal Scalability:
Applications that need to scale out across multiple servers easily to handle increased load, particularly when dealing with large datasets.

5) Agility in Development:
Projects that benefit from rapid development cycles, allowing developers to make changes to the database schema without significant downtime or overhead.

6) Geospatial Data:
Applications requiring advanced geospatial queries and indexing.

7) Complex Data Models:
Situations where the data structure includes hierarchical or nested data, which fits well with MongoDBâ€™s document-oriented approach.

- In summary, MongoDB and other NoSQL databases are particularly useful when dealing with applications that require flexibility, scalability, and high performance with unstructured or semi-structured data, whereas traditional SQL databases are preferred for applications requiring strong consistency, complex transactions, and fixed schemas.

# Q2. State and Explain the features of MongoDB.

Features of MongoDB

MongoDB is a powerful and flexible NoSQL database that offers a variety of features designed to meet the needs of modern applications. Here are some of its key features:

- Document-Oriented Storage:
 1) Flexible Schema: MongoDB stores data in BSON (Binary JSON) format, allowing for a flexible and dynamic schema. Documents can have different fields and structures, making it easy to evolve the database schema without downtime.
 2) Nested Documents: Supports embedded documents and arrays, allowing for complex data models and reducing the need for expensive join operations.

- High Performance:
 1) Indexes: Supports a wide range of indexing options including compound indexes, geospatial indexes, and text indexes, which improve query performance.
 2) In-Memory Storage Engine: Utilizes memory for faster read and write operations, enhancing overall performance.

- High Availability:
 1) Replication: MongoDB provides replica sets, which are groups of MongoDB servers that maintain the same data set, providing redundancy and increasing data availability. Replica sets support automatic failover and data recovery.
 2) Sharding: Enables horizontal scaling by distributing data across multiple machines. This allows MongoDB to handle large datasets and high throughput operations by distributing the load.

- Rich Query Language:

 1) Ad-hoc Queries: Supports a wide variety of queries such as range queries, regular expression searches, and field-value searches.
 2) Aggregation Framework: Provides powerful data aggregation capabilities through a pipeline approach, allowing for data transformations and computations like group by, filter, and map-reduce operations.

- Load Balancing:

 1) Horizontal Scalability: MongoDB can distribute data across multiple servers using sharding, which balances the load and provides scalability to handle large volumes of data and high user loads.

- Data Redundancy and Backup:
 1) Backup and Restore: Offers various methods for backing up data, including point-in-time backups and continuous backups, ensuring data redundancy and protection.

- Security:
 1) Authentication and Authorization: Provides robust security features including role-based access control (RBAC), LDAP integration, and Kerberos authentication.
 2) Encryption: Supports data encryption at rest and in transit, ensuring that data is secure.

# Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
pip install --upgrade pymongo[srv]

Requirement already satisfied: pymongo[srv] in /opt/conda/lib/python3.10/site-packages (4.7.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo[srv]) (2.6.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymongo
print(pymongo.__version__)

4.7.2

In [3]:
from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://viditsingh:pwskills@cluster0.jrxluiw.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Step 1: Connect to MongoDB
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [4]:
db=client.test
db

Database(MongoClient(host=['ac-cblvuin-shard-00-02.jrxluiw.mongodb.net:27017', 'ac-cblvuin-shard-00-00.jrxluiw.mongodb.net:27017', 'ac-cblvuin-shard-00-01.jrxluiw.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', appname='Cluster0', authsource='admin', replicaset='atlas-10yzae-shard-0', tls=True), 'test')

In [5]:
# Step 2: Create a database
db = client['mydatabase']

# Step 3: Create a collection
collection = db['mycollection']

# Step 4 : Insert a sample document to verify the collection is created
sample_document = {
    "name": "John Doe",
    "age": 30,
    "address": {
        "street": "123 Elm St",
        "city": "Somewhere",
        "state": "CA",
        "zip": "90210"
    }
}

# Insert the sample document into the collection
collection.insert_one(sample_document)

# Verify the document insertion
inserted_document = collection.find_one({"name": "John Doe"})
print(inserted_document)

{'_id': ObjectId('6656ba3c32a75a60445974a5'), 'name': 'John Doe', 'age': 30, 'address': {'street': '123 Elm St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}

- This code sets up a connection to MongoDB, creates a database named mydatabase, and a collection named mycollection. It then inserts a sample document and verifies the insertion by printing the document.

# Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [6]:
# Insert one record
one_record = {
    "name": "Jane Doe",
    "age": 25,
    "address": {
        "street": "456 Maple Ave",
        "city": "Anywhere",
        "state": "NY",
        "zip": "10001"
    }
}
inserted_one_id = collection.insert_one(one_record).inserted_id

# Print the inserted record using find_one
print("Inserted one record:")
inserted_one = collection.find_one({"_id": inserted_one_id})
print(inserted_one)

# Insert many records
many_records = [
    {
        "name": "Alice Smith",
        "age": 28,
        "address": {
            "street": "789 Oak St",
            "city": "Elsewhere",
            "state": "TX",
            "zip": "73301"
        }
    },
    {
        "name": "Bob Johnson",
        "age": 35,
        "address": {
            "street": "101 Pine St",
            "city": "Somewhere",
            "state": "CA",
            "zip": "90210"
        }
    },
    {
        "name": "Charlie Brown",
        "age": 22,
        "address": {
            "street": "102 Birch St",
            "city": "Elsewhere",
            "state": "WA",
            "zip": "98001"
        }
    }
]

inserted_many_ids = collection.insert_many(many_records).inserted_ids

# Print the inserted records using find
print("\nInserted many records:")
for record_id in inserted_many_ids:
    inserted_record = collection.find_one({"_id": record_id})
    print(inserted_record)

# Optionally, use find() to print all documents in the collection
print("\nAll documents in the collection:")
for doc in collection.find():
    print(doc)

Inserted one record:
{'_id': ObjectId('6656bd7bdb9eae925013dc0d'), 'name': 'Jane Doe', 'age': 25, 'address': {'street': '456 Maple Ave', 'city': 'Anywhere', 'state': 'NY', 'zip': '10001'}}

Inserted many records:
{'_id': ObjectId('6656bd7bdb9eae925013dc0e'), 'name': 'Alice Smith', 'age': 28, 'address': {'street': '789 Oak St', 'city': 'Elsewhere', 'state': 'TX', 'zip': '73301'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc0f'), 'name': 'Bob Johnson', 'age': 35, 'address': {'street': '101 Pine St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc10'), 'name': 'Charlie Brown', 'age': 22, 'address': {'street': '102 Birch St', 'city': 'Elsewhere', 'state': 'WA', 'zip': '98001'}}

All documents in the collection:
{'_id': ObjectId('6656ba3c32a75a60445974a5'), 'name': 'John Doe', 'age': 30, 'address': {'street': '123 Elm St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bba332a75a60445974a6'), 'name': 'Jane Doe', 'age': 25, 'address': {'street': '456 Maple Ave', 'city': 'Anywhere', 'state': 'NY', 'zip': '10001'}}
{'_id': ObjectId('6656bba332a75a60445974a7'), 'name': 'Alice Smith', 'age': 28, 'address': {'street': '789 Oak St', 'city': 'Elsewhere', 'state': 'TX', 'zip': '73301'}}
{'_id': ObjectId('6656bba332a75a60445974a8'), 'name': 'Bob Johnson', 'age': 35, 'address': {'street': '101 Pine St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bba332a75a60445974a9'), 'name': 'Charlie Brown', 'age': 22, 'address': {'street': '102 Birch St', 'city': 'Elsewhere', 'state': 'WA', 'zip': '98001'}}
{'_id': ObjectId('6656bc0879c235dc8b484b3f'), 'name': 'John Doe', 'age': 30, 'address': {'street': '123 Elm St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bc0879c235dc8b484b40'), 'name': 'Jane Doe', 'age': 25, 'address': {'street': '456 Maple Ave', 'city': 'Anywhere', 'state': 'NY', 'zip': '10001'}}
{'_id': ObjectId('6656bc0879c235dc8b484b41'), 'name': 'Alice Smith', 'age': 28, 'address': {'street': '789 Oak St', 'city': 'Elsewhere', 'state': 'TX', 'zip': '73301'}}
{'_id': ObjectId('6656bc0879c235dc8b484b42'), 'name': 'Bob Johnson', 'age': 35, 'address': {'street': '101 Pine St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bc0879c235dc8b484b43'), 'name': 'Charlie Brown', 'age': 22, 'address': {'street': '102 Birch St', 'city': 'Elsewhere', 'state': 'WA', 'zip': '98001'}}
{'_id': ObjectId('6656bd3769c765cebf55dde5'), 'name': 'John Doe', 'age': 30, 'address': {'street': '123 Elm St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bd3769c765cebf55dde6'), 'name': 'Jane Doe', 'age': 25, 'address': {'street': '456 Maple Ave', 'city': 'Anywhere', 'state': 'NY', 'zip': '10001'}}
{'_id': ObjectId('6656bd3769c765cebf55dde7'), 'name': 'Alice Smith', 'age': 28, 'address': {'street': '789 Oak St', 'city': 'Elsewhere', 'state': 'TX', 'zip': '73301'}}
{'_id': ObjectId('6656bd3769c765cebf55dde8'), 'name': 'Bob Johnson', 'age': 35, 'address': {'street': '101 Pine St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bd3769c765cebf55dde9'), 'name': 'Charlie Brown', 'age': 22, 'address': {'street': '102 Birch St', 'city': 'Elsewhere', 'state': 'WA', 'zip': '98001'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc0c'), 'name': 'John Doe', 'age': 30, 'address': {'street': '123 Elm St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc0d'), 'name': 'Jane Doe', 'age': 25, 'address': {'street': '456 Maple Ave', 'city': 'Anywhere', 'state': 'NY', 'zip': '10001'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc0e'), 'name': 'Alice Smith', 'age': 28, 'address': {'street': '789 Oak St', 'city': 'Elsewhere', 'state': 'TX', 'zip': '73301'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc0f'), 'name': 'Bob Johnson', 'age': 35, 'address': {'street': '101 Pine St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc10'), 'name': 'Charlie Brown', 'age': 22, 'address': {'street': '102 Birch St', 'city': 'Elsewhere', 'state': 'WA', 'zip': '98001'}}

- Explanation of the Code
Insert One Record:

We create a dictionary one_record representing a single document.
Insert the document using insert_one.
Retrieve and print the inserted document using find_one.
Insert Many Records:

We create a list of dictionaries many_records representing multiple documents.
Insert the documents using insert_many.
Retrieve and print each inserted document using find_one for each inserted document ID.
Print All Documents:

Optionally, print all documents in the collection using find().
This code demonstrates how to insert one record, insert many records, and retrieve and print the inserted records from a MongoDB collection using Python's pymongo library.

# Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

- The find() method in MongoDB is used to query the database and retrieve documents that match the specified criteria. It returns a cursor to the documents that match the query, allowing you to iterate over them.

Key Features of the find() Method
1) Filtering: You can specify conditions using a query filter.
2) Projection: You can specify which fields to include or exclude in the returned documents.
3) Sorting: You can sort the results based on one or more fields.
4) Limiting: You can limit the number of documents returned.
5) Skipping: You can skip a specified number of documents in the results.

Let's write a simple code to demonstrate how to use the find() method to query the MongoDB database.

In [7]:
# Insert some sample documents for demonstration
sample_documents = [
    {"name": "Alice", "age": 28, "city": "New York"},
    {"name": "Bob", "age": 22, "city": "Los Angeles"},
    {"name": "Charlie", "age": 25, "city": "Chicago"},
    {"name": "David", "age": 30, "city": "New York"},
    {"name": "Eve", "age": 35, "city": "Los Angeles"}
]
collection.insert_many(sample_documents)

# Query 1: Find all documents
print("Query 1: All documents")
for doc in collection.find():
    print(doc)

Query 1: All documents
{'_id': ObjectId('6656ba3c32a75a60445974a5'), 'name': 'John Doe', 'age': 30, 'address': {'street': '123 Elm St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bba332a75a60445974a6'), 'name': 'Jane Doe', 'age': 25, 'address': {'street': '456 Maple Ave', 'city': 'Anywhere', 'state': 'NY', 'zip': '10001'}}
{'_id': ObjectId('6656bba332a75a60445974a7'), 'name': 'Alice Smith', 'age': 28, 'address': {'street': '789 Oak St', 'city': 'Elsewhere', 'state': 'TX', 'zip': '73301'}}
{'_id': ObjectId('6656bba332a75a60445974a8'), 'name': 'Bob Johnson', 'age': 35, 'address': {'street': '101 Pine St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bba332a75a60445974a9'), 'name': 'Charlie Brown', 'age': 22, 'address': {'street': '102 Birch St', 'city': 'Elsewhere', 'state': 'WA', 'zip': '98001'}}
{'_id': ObjectId('6656bc0879c235dc8b484b3f'), 'name': 'John Doe', 'age': 30, 'address': {'street': '123 Elm St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bc0879c235dc8b484b40'), 'name': 'Jane Doe', 'age': 25, 'address': {'street': '456 Maple Ave', 'city': 'Anywhere', 'state': 'NY', 'zip': '10001'}}
{'_id': ObjectId('6656bc0879c235dc8b484b41'), 'name': 'Alice Smith', 'age': 28, 'address': {'street': '789 Oak St', 'city': 'Elsewhere', 'state': 'TX', 'zip': '73301'}}
{'_id': ObjectId('6656bc0879c235dc8b484b42'), 'name': 'Bob Johnson', 'age': 35, 'address': {'street': '101 Pine St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bc0879c235dc8b484b43'), 'name': 'Charlie Brown', 'age': 22, 'address': {'street': '102 Birch St', 'city': 'Elsewhere', 'state': 'WA', 'zip': '98001'}}
{'_id': ObjectId('6656bd3769c765cebf55dde5'), 'name': 'John Doe', 'age': 30, 'address': {'street': '123 Elm St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bd3769c765cebf55dde6'), 'name': 'Jane Doe', 'age': 25, 'address': {'street': '456 Maple Ave', 'city': 'Anywhere', 'state': 'NY', 'zip': '10001'}}
{'_id': ObjectId('6656bd3769c765cebf55dde7'), 'name': 'Alice Smith', 'age': 28, 'address': {'street': '789 Oak St', 'city': 'Elsewhere', 'state': 'TX', 'zip': '73301'}}
{'_id': ObjectId('6656bd3769c765cebf55dde8'), 'name': 'Bob Johnson', 'age': 35, 'address': {'street': '101 Pine St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bd3769c765cebf55dde9'), 'name': 'Charlie Brown', 'age': 22, 'address': {'street': '102 Birch St', 'city': 'Elsewhere', 'state': 'WA', 'zip': '98001'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc0c'), 'name': 'John Doe', 'age': 30, 'address': {'street': '123 Elm St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc0d'), 'name': 'Jane Doe', 'age': 25, 'address': {'street': '456 Maple Ave', 'city': 'Anywhere', 'state': 'NY', 'zip': '10001'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc0e'), 'name': 'Alice Smith', 'age': 28, 'address': {'street': '789 Oak St', 'city': 'Elsewhere', 'state': 'TX', 'zip': '73301'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc0f'), 'name': 'Bob Johnson', 'age': 35, 'address': {'street': '101 Pine St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc10'), 'name': 'Charlie Brown', 'age': 22, 'address': {'street': '102 Birch St', 'city': 'Elsewhere', 'state': 'WA', 'zip': '98001'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc11'), 'name': 'Alice', 'age': 28, 'city': 'New York'}
{'_id': ObjectId('6656bd7bdb9eae925013dc12'), 'name': 'Bob', 'age': 22, 'city': 'Los Angeles'}
{'_id': ObjectId('6656bd7bdb9eae925013dc13'), 'name': 'Charlie', 'age': 25, 'city': 'Chicago'}
{'_id': ObjectId('6656bd7bdb9eae925013dc14'), 'name': 'David', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('6656bd7bdb9eae925013dc15'), 'name': 'Eve', 'age': 35, 'city': 'Los Angeles'}

In [8]:
# Query 2: Find documents where age is greater than 25
print("\nQuery 2: Documents where age > 25")
for doc in collection.find({"age": {"$gt": 25}}):
    print(doc)

Query 2: Documents where age > 25
{'_id': ObjectId('6656ba3c32a75a60445974a5'), 'name': 'John Doe', 'age': 30, 'address': {'street': '123 Elm St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bba332a75a60445974a7'), 'name': 'Alice Smith', 'age': 28, 'address': {'street': '789 Oak St', 'city': 'Elsewhere', 'state': 'TX', 'zip': '73301'}}
{'_id': ObjectId('6656bba332a75a60445974a8'), 'name': 'Bob Johnson', 'age': 35, 'address': {'street': '101 Pine St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bc0879c235dc8b484b3f'), 'name': 'John Doe', 'age': 30, 'address': {'street': '123 Elm St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bc0879c235dc8b484b41'), 'name': 'Alice Smith', 'age': 28, 'address': {'street': '789 Oak St', 'city': 'Elsewhere', 'state': 'TX', 'zip': '73301'}}
{'_id': ObjectId('6656bc0879c235dc8b484b42'), 'name': 'Bob Johnson', 'age': 35, 'address': {'street': '101 Pine St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bd3769c765cebf55dde5'), 'name': 'John Doe', 'age': 30, 'address': {'street': '123 Elm St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bd3769c765cebf55dde7'), 'name': 'Alice Smith', 'age': 28, 'address': {'street': '789 Oak St', 'city': 'Elsewhere', 'state': 'TX', 'zip': '73301'}}
{'_id': ObjectId('6656bd3769c765cebf55dde8'), 'name': 'Bob Johnson', 'age': 35, 'address': {'street': '101 Pine St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc0c'), 'name': 'John Doe', 'age': 30, 'address': {'street': '123 Elm St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc0e'), 'name': 'Alice Smith', 'age': 28, 'address': {'street': '789 Oak St', 'city': 'Elsewhere', 'state': 'TX', 'zip': '73301'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc0f'), 'name': 'Bob Johnson', 'age': 35, 'address': {'street': '101 Pine St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc11'), 'name': 'Alice', 'age': 28, 'city': 'New York'}
{'_id': ObjectId('6656bd7bdb9eae925013dc14'), 'name': 'David', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('6656bd7bdb9eae925013dc15'), 'name': 'Eve', 'age': 35, 'city': 'Los Angeles'}

In [9]:
# Query 3: Find documents where city is "New York" and project only the name and city fields
print("\nQuery 3: Documents where city is 'New York' (projecting only name and city)")
for doc in collection.find({"city": "New York"}, {"_id": 0, "name": 1, "city": 1}):
    print(doc)

Query 3: Documents where city is 'New York' (projecting only name and city)
{'name': 'Alice', 'city': 'New York'}
{'name': 'David', 'city': 'New York'}

In [10]:
# Query 4: Find documents sorted by age in descending order
print("\nQuery 4: Documents sorted by age in descending order")
for doc in collection.find().sort("age", -1):
    print(doc)

Query 4: Documents sorted by age in descending order
{'_id': ObjectId('6656bba332a75a60445974a8'), 'name': 'Bob Johnson', 'age': 35, 'address': {'street': '101 Pine St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bc0879c235dc8b484b42'), 'name': 'Bob Johnson', 'age': 35, 'address': {'street': '101 Pine St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bd3769c765cebf55dde8'), 'name': 'Bob Johnson', 'age': 35, 'address': {'street': '101 Pine St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc0f'), 'name': 'Bob Johnson', 'age': 35, 'address': {'street': '101 Pine St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc15'), 'name': 'Eve', 'age': 35, 'city': 'Los Angeles'}
{'_id': ObjectId('6656ba3c32a75a60445974a5'), 'name': 'John Doe', 'age': 30, 'address': {'street': '123 Elm St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bc0879c235dc8b484b3f'), 'name': 'John Doe', 'age': 30, 'address': {'street': '123 Elm St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bd3769c765cebf55dde5'), 'name': 'John Doe', 'age': 30, 'address': {'street': '123 Elm St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc0c'), 'name': 'John Doe', 'age': 30, 'address': {'street': '123 Elm St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc14'), 'name': 'David', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('6656bba332a75a60445974a7'), 'name': 'Alice Smith', 'age': 28, 'address': {'street': '789 Oak St', 'city': 'Elsewhere', 'state': 'TX', 'zip': '73301'}}
{'_id': ObjectId('6656bc0879c235dc8b484b41'), 'name': 'Alice Smith', 'age': 28, 'address': {'street': '789 Oak St', 'city': 'Elsewhere', 'state': 'TX', 'zip': '73301'}}
{'_id': ObjectId('6656bd3769c765cebf55dde7'), 'name': 'Alice Smith', 'age': 28, 'address': {'street': '789 Oak St', 'city': 'Elsewhere', 'state': 'TX', 'zip': '73301'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc0e'), 'name': 'Alice Smith', 'age': 28, 'address': {'street': '789 Oak St', 'city': 'Elsewhere', 'state': 'TX', 'zip': '73301'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc11'), 'name': 'Alice', 'age': 28, 'city': 'New York'}
{'_id': ObjectId('6656bba332a75a60445974a6'), 'name': 'Jane Doe', 'age': 25, 'address': {'street': '456 Maple Ave', 'city': 'Anywhere', 'state': 'NY', 'zip': '10001'}}
{'_id': ObjectId('6656bc0879c235dc8b484b40'), 'name': 'Jane Doe', 'age': 25, 'address': {'street': '456 Maple Ave', 'city': 'Anywhere', 'state': 'NY', 'zip': '10001'}}
{'_id': ObjectId('6656bd3769c765cebf55dde6'), 'name': 'Jane Doe', 'age': 25, 'address': {'street': '456 Maple Ave', 'city': 'Anywhere', 'state': 'NY', 'zip': '10001'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc0d'), 'name': 'Jane Doe', 'age': 25, 'address': {'street': '456 Maple Ave', 'city': 'Anywhere', 'state': 'NY', 'zip': '10001'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc13'), 'name': 'Charlie', 'age': 25, 'city': 'Chicago'}
{'_id': ObjectId('6656bba332a75a60445974a9'), 'name': 'Charlie Brown', 'age': 22, 'address': {'street': '102 Birch St', 'city': 'Elsewhere', 'state': 'WA', 'zip': '98001'}}
{'_id': ObjectId('6656bc0879c235dc8b484b43'), 'name': 'Charlie Brown', 'age': 22, 'address': {'street': '102 Birch St', 'city': 'Elsewhere', 'state': 'WA', 'zip': '98001'}}
{'_id': ObjectId('6656bd3769c765cebf55dde9'), 'name': 'Charlie Brown', 'age': 22, 'address': {'street': '102 Birch St', 'city': 'Elsewhere', 'state': 'WA', 'zip': '98001'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc10'), 'name': 'Charlie Brown', 'age': 22, 'address': {'street': '102 Birch St', 'city': 'Elsewhere', 'state': 'WA', 'zip': '98001'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc12'), 'name': 'Bob', 'age': 22, 'city': 'Los Angeles'}

In [11]:
# Query 5: Find the first 3 documents
print("\nQuery 5: First 3 documents")
for doc in collection.find().limit(3):
    print(doc)

Query 5: First 3 documents
{'_id': ObjectId('6656ba3c32a75a60445974a5'), 'name': 'John Doe', 'age': 30, 'address': {'street': '123 Elm St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bba332a75a60445974a6'), 'name': 'Jane Doe', 'age': 25, 'address': {'street': '456 Maple Ave', 'city': 'Anywhere', 'state': 'NY', 'zip': '10001'}}
{'_id': ObjectId('6656bba332a75a60445974a7'), 'name': 'Alice Smith', 'age': 28, 'address': {'street': '789 Oak St', 'city': 'Elsewhere', 'state': 'TX', 'zip': '73301'}}

# Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

Explanation of the sort() Method in MongoDB
- The sort() method in MongoDB is used to arrange the documents in the result set in either ascending or descending order based on one or more fields. Sorting is particularly useful for organizing query results in a meaningful way, such as by date, name, or any other field.

Syntax : 
cursor.sort(sort_expression)

- sort_expression: This specifies the fields by which to sort and the order of sorting. It can be a single field or multiple fields. Each field is associated with a sort order:
 1 for ascending order.
-1 for descending order.

Example: Sorting in MongoDB
- Let's demonstrate how to use the sort() method with a MongoDB collection. We'll sort documents based on different fields in ascending and descending order.

In [12]:
# Insert some sample documents for demonstration
sample_documents = [
    {"name": "Alice", "age": 28, "city": "New York"},
    {"name": "Bob", "age": 22, "city": "Los Angeles"},
    {"name": "Charlie", "age": 25, "city": "Chicago"},
    {"name": "David", "age": 30, "city": "New York"},
    {"name": "Eve", "age": 35, "city": "Los Angeles"}
]
collection.insert_many(sample_documents)

# Sort documents by age in ascending order
print("Documents sorted by age in ascending order:")
for doc in collection.find().sort("age", 1):
    print(doc)

Documents sorted by age in ascending order:
{'_id': ObjectId('6656bba332a75a60445974a9'), 'name': 'Charlie Brown', 'age': 22, 'address': {'street': '102 Birch St', 'city': 'Elsewhere', 'state': 'WA', 'zip': '98001'}}
{'_id': ObjectId('6656bc0879c235dc8b484b43'), 'name': 'Charlie Brown', 'age': 22, 'address': {'street': '102 Birch St', 'city': 'Elsewhere', 'state': 'WA', 'zip': '98001'}}
{'_id': ObjectId('6656bd3769c765cebf55dde9'), 'name': 'Charlie Brown', 'age': 22, 'address': {'street': '102 Birch St', 'city': 'Elsewhere', 'state': 'WA', 'zip': '98001'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc10'), 'name': 'Charlie Brown', 'age': 22, 'address': {'street': '102 Birch St', 'city': 'Elsewhere', 'state': 'WA', 'zip': '98001'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc12'), 'name': 'Bob', 'age': 22, 'city': 'Los Angeles'}
{'_id': ObjectId('6656c3cfdb9eae925013dc17'), 'name': 'Bob', 'age': 22, 'city': 'Los Angeles'}
{'_id': ObjectId('6656bba332a75a60445974a6'), 'name': 'Jane Doe', 'age': 25, 'address': {'street': '456 Maple Ave', 'city': 'Anywhere', 'state': 'NY', 'zip': '10001'}}
{'_id': ObjectId('6656bc0879c235dc8b484b40'), 'name': 'Jane Doe', 'age': 25, 'address': {'street': '456 Maple Ave', 'city': 'Anywhere', 'state': 'NY', 'zip': '10001'}}
{'_id': ObjectId('6656bd3769c765cebf55dde6'), 'name': 'Jane Doe', 'age': 25, 'address': {'street': '456 Maple Ave', 'city': 'Anywhere', 'state': 'NY', 'zip': '10001'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc0d'), 'name': 'Jane Doe', 'age': 25, 'address': {'street': '456 Maple Ave', 'city': 'Anywhere', 'state': 'NY', 'zip': '10001'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc13'), 'name': 'Charlie', 'age': 25, 'city': 'Chicago'}
{'_id': ObjectId('6656c3cfdb9eae925013dc18'), 'name': 'Charlie', 'age': 25, 'city': 'Chicago'}
{'_id': ObjectId('6656bba332a75a60445974a7'), 'name': 'Alice Smith', 'age': 28, 'address': {'street': '789 Oak St', 'city': 'Elsewhere', 'state': 'TX', 'zip': '73301'}}
{'_id': ObjectId('6656bc0879c235dc8b484b41'), 'name': 'Alice Smith', 'age': 28, 'address': {'street': '789 Oak St', 'city': 'Elsewhere', 'state': 'TX', 'zip': '73301'}}
{'_id': ObjectId('6656bd3769c765cebf55dde7'), 'name': 'Alice Smith', 'age': 28, 'address': {'street': '789 Oak St', 'city': 'Elsewhere', 'state': 'TX', 'zip': '73301'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc0e'), 'name': 'Alice Smith', 'age': 28, 'address': {'street': '789 Oak St', 'city': 'Elsewhere', 'state': 'TX', 'zip': '73301'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc11'), 'name': 'Alice', 'age': 28, 'city': 'New York'}
{'_id': ObjectId('6656c3cfdb9eae925013dc16'), 'name': 'Alice', 'age': 28, 'city': 'New York'}
{'_id': ObjectId('6656ba3c32a75a60445974a5'), 'name': 'John Doe', 'age': 30, 'address': {'street': '123 Elm St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bc0879c235dc8b484b3f'), 'name': 'John Doe', 'age': 30, 'address': {'street': '123 Elm St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bd3769c765cebf55dde5'), 'name': 'John Doe', 'age': 30, 'address': {'street': '123 Elm St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc0c'), 'name': 'John Doe', 'age': 30, 'address': {'street': '123 Elm St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc14'), 'name': 'David', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('6656c3cfdb9eae925013dc19'), 'name': 'David', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('6656bba332a75a60445974a8'), 'name': 'Bob Johnson', 'age': 35, 'address': {'street': '101 Pine St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bc0879c235dc8b484b42'), 'name': 'Bob Johnson', 'age': 35, 'address': {'street': '101 Pine St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bd3769c765cebf55dde8'), 'name': 'Bob Johnson', 'age': 35, 'address': {'street': '101 Pine St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc0f'), 'name': 'Bob Johnson', 'age': 35, 'address': {'street': '101 Pine St', 'city': 'Somewhere', 'state': 'CA', 'zip': '90210'}}
{'_id': ObjectId('6656bd7bdb9eae925013dc15'), 'name': 'Eve', 'age': 35, 'city': 'Los Angeles'}
{'_id': ObjectId('6656c3cfdb9eae925013dc1a'), 'name': 'Eve', 'age': 35, 'city': 'Los Angeles'}

Explanation of the Code

Insert Sample Documents:

We insert a set of sample documents into the collection for demonstration purposes.
Sort by Age in Ascending Order:

collection.find().sort("age", 1): This query retrieves all documents and sorts them by the age field in ascending order (from lowest to highest).

# Q7. Explain why delete_one(), delete_many(), and drop() is used.

- In MongoDB, managing data includes the ability to delete documents and collections. The methods delete_one(), delete_many(), and drop() are used for these purposes. Here's an explanation of each method and their use cases:

1) delete_one()
- Purpose: Deletes a single document that matches the specified filter criteria.
- Behavior: Removes only the first document that matches the filter criteria, even if multiple documents match.
- Use Case: When you need to remove a specific document from a collection, such as deleting a user by their unique ID or removing a specific record that meets certain criteria.

2) delete_many()
- Purpose: Deletes multiple documents that match the specified filter criteria.
- Behavior: Removes all documents that match the filter criteria.
- Use Case: When you need to remove multiple documents at once, such as deleting all records older than a certain date, or clearing a collection of documents that meet a specific condition.

3) drop()
- Purpose: Deletes an entire collection, including all documents within it.
- Behavior: Completely removes the collection from the database.
- Use Case: When you need to delete an entire collection, such as when you want to reset a collection during development or testing, or when the collection is no longer needed.

Summary
- delete_one(): Deletes the first document that matches the filter criteria. Used for targeted, single-document deletions.
- delete_many(): Deletes all documents that match the filter criteria. Used for bulk deletions based on specific criteria.
- drop(): Deletes the entire collection. Used for completely removing a collection and all its documents from the database.
- These methods provide flexible options for managing and maintaining the data within a MongoDB database, allowing for precise control over document and collection removal.